*{
    margin: 0;
    padding: 0;
}
body{
    background: #090808;
    color: aliceblue;
}
.home{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
nav{
    display: flex;
    justify-content: space-around;
}
.in{
    display: flex;
    padding: 10px;
}
.hero{
    display: flex;
    justify-content: center;
    padding: 150px 30px 75px 100px;
    width: auto;
}
.world{
    padding: 1px 10px 15px 70px;
    word-spacing: 5px;
    line-height: 40px;
}
.hero-img{
    position: relative;
    width: 100px;
    height: 150px;
    background: #020202;
    padding: 10px 100px 1px 10px;
}
.bg-rectangle{
    position: absolute;
    width: 300px;
    height: 250px;
    background: #494b50;
    bottom: 0;
    left: 40px;
    border-radius: 10px;
    border: solid green;
    z-index: 1;
}
.hero-img img{
    position: absolute;
    width: 150px;
    height: 200px;
    bottom: 0;
    z-index: 2;
    padding: 10px;
}
.home :hover{
    font-size: 24px;
    color: crimson;
    text-decoration: underline;
}